li{
	list-style: none;
}
ul{
	display: flex;
	padding:0;
}

.side-text-right{
	margin-left: 10px;
    margin-top: 5px;
    font-size: 18px;
}

.side-text-left{
	margin-right: 10px;
	margin-top: 5px;
    font-size: 18px;
}

.center{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 5px #e3e3e3;
	padding: 10px 100px 200px ;
	border-radius: 5px;
	background: #f8f8f8;
}


.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .9s;
  transition: .9s;
}


.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .9s;
  transition: .9s;
}

input:checked + .slider {
  background-color: #d7be69;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
input[type="checkbox"] {
    visibility: hidden;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}